.clear{
	clear:both;
}

/*** Add extra space in wp 3.6 ***/
.cycloneslider.version-3-6 #titlediv{
	margin-bottom: 20px;
}

/*** ID Metabox ***/
#cyclone-slider-id .inside{
    padding:0;
}
#cyclone-slider-id input[type="text"]{
	display: inline-block;
	min-width: 30%;
}
#cyclone-slider-id .cycloneslider-field{
	padding: 10px 10px 0 10px;
}

/*** Codes Metabox ***/
#cyclone-slider-codes .inside{
    padding:0;
}

/*** Slides Metabox ***/
#cyclone-slides-metabox .inside{
    margin:20px;
    padding:0;
}
.cycloneslider-sortable{
    margin-bottom:20px;
}
.cs-slide{
	margin-bottom:10px;
}
.cs-header{
    border:1px solid #D3D3D3;
	cursor:move;
    background-color: #f1f1f1; /* Fallback */
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec); /* IE10 */
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec); /* Firefox */
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec); /* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec)); /* old Webkit */
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec); /* new Webkit */
	background-image: linear-gradient(top, #f9f9f9, #ececec); /* proposed W3C Markup */
}
.cs-header .cs-icon{
	float:left;
	padding:6px;
	border-right:1px solid #D3D3D3;
}
.rtl .cs-header .cs-icon{
	float:right;
	border-left:1px solid #D3D3D3;
	border-right:0;
}
.cs-icon i{
	width:14px;
	height:14px;
	display:block;
	background: url(../images/glyphicons-halflings.png) no-repeat;
}
i.icon-facetime-video{
	background-position: -432px -48px;
}
i.icon-film{
	background-position: -192px 0;
}
i.icon-picture{
	background-position: -456px -48px;
}
i.icon-pencil{
	background-position:0 -72px;
}
i.icon-font{
	background-position: -144px -48px;
}
.cs-title{
    float:left;
	padding:5px 6px;
}
.rtl .cs-title{
	float:right;
}
.cs-controls{
    float:right;
	padding:5px;
}
.rtl .cs-controls{
	float:left;
}
.cs-drag,
.cs-toggle,
.cs-delete{
    margin:0 5px;
    display:block;
    float:left;
    text-indent:-99999px;
    width:15px;
    height:15px;
}
.rtl .cs-drag,
.rtl .cs-toggle,
.rtl .cs-delete{
	float:right;
}
.cs-drag{
	display:none;
	cursor:move;
    color:#285C00;
    background: url(../images/ui-icons.png) no-repeat 0 0;
}
.cs-toggle{
	cursor:pointer;
    color:#21759B;
    background: url(../images/ui-icons.png) no-repeat -15px 0;
}
.cs-delete{
	cursor:pointer;
    color:#ff9191;
    background: url(../images/ui-icons.png) no-repeat -30px 0;
}
.cs-header:hover .cs-toggle{
    background-position:-15px -15px;
    color:#fff;
}
.cs-slide:hover .cs-header,
.cs-slide:hover .cs-body{
    border-color:#c0c0c0;
}
.cs-header .cs-delete:hover{
    background-color:#ff9191;
    color:#fff;
}
.cs-body{
    background:#F5F5F5;
    min-height:1px; /* IE7 - on open disappearing content - bug fix */
    border-left:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    border-bottom:1px solid #D3D3D3;
    display:none;
}
.cs-slide-type-bar{
	padding:10px 2%;
	background: #ECECEC;
	border-bottom:1px solid #D3D3D3;
}
.cs-image-preview{
	padding:15px 2%;
	float:left;
    width:40%;
}
.rtl .cs-image-preview{
	float:right;
}
.cs-image-settings{
	float:left;
    width:50%;
	padding:15px 2%;
}
.rtl .cs-image-settings{
	float:right;
}
.cs-image-thumb img{
    display:block;
    max-width:90%;
    margin-bottom:10px;
    border:3px solid #ccc;
}
.cs-media-gallery-show{
    margin-bottom:15px;
}
.cs-slide textarea{
    overflow:auto;
}
.cs-slide .note,
.cycloneslider-field .note{
    font-weight:normal;
    font-size:11px;
    font-style:italic;
    color:#666666;
}

/*** Video ***/
.cs-video-preview{
    padding:15px 2%;
	float:left;
    width:40%;
}
.rtl .cs-video-preview{
	float:right;
}
.cs-video-settings{
    float:left;
    width:50%;
	padding:15px 2%;
	min-width:300px;
}
.rtl .cs-video-settings{
	float:right;
}
.cs-loader{
	display:inline-block;
	width:24px;
	height:24px;
	
}
.cs-video-thumb{
	background: url(../images/loader.gif) no-repeat center;
	min-height:150px;
}
.cs-video-thumb img{
	max-width:100%;
	margin-bottom:15px;
}

/*** Custom HTML ***/
.cs-custom{
    padding:15px 2%;
}
.cs-custom-html{
	min-height:140px;
}

/*** Slide effects toggle ***/
.cycloneslider_metas_enable_slide_effects{
	float:right;
	margin-bottom:15px;
}
.rtl .cycloneslider_metas_enable_slide_effects{
	float:left;
}

/*** Hide other slide types ***/
.cs-video, .cs-custom, .cs-image{
	display:none;
}
.cs-image {
	display:block;
}

/*** Placeholder ***/
.cs-slide-placeholder{
    padding:5px;
    height:20px;
    border:1px dashed #ccc;
    margin-bottom:10px;
}

/* Skeleton for adding slide box in JS */
.cs-slide-skeleton{
    display:none;
}

/*** Expandables ***/
.expandable-group-title{
    font-weight:bold;
    font-size:12px;
    margin-bottom:10px;
    text-transform:capitalize;
}
.expandable-box.last{
    border-bottom:1px solid #D3D3D3;
}
.expandable-header{
    border-left:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    border-top:1px solid #D3D3D3;
    padding:3px 7px;
    font-weight:bold;
    color:#666666;
    background-color: #f1f1f1;
    cursor:pointer;
}
.expandable-body{
    border-top:1px solid #D3D3D3;
    border-left:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    padding:20px;
    background:#f9f9f9;
	display:none;
}
.expandable-header.first{
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}



/*** Form Fields ***/
.field{
	margin-bottom:15px;
}
.field.last{
	margin:0;
}
.field label{
	display:inline-block;
	margin-bottom:5px;
	font-weight:bold;
}
.field-inline label{
	width:40%;
}
.field-inline input,
.field-inline select,
.field-inline textarea{
	max-width:40%;
}


.cycloneslider-slide-meta-speed,
.cycloneslider-slide-meta-timeout,
.cycloneslider-slide-meta-tile-count,
.cycloneslider-slide-meta-tile-delay{
	width:25%;
}
.cycloneslider-meta-field .note.disabled,
label.disabled,
input:disabled{
	color:#999;
}



#cyclone-slider-properties-metabox .inside{
    padding:0;
}

/*** Cycloneslider Field ***/
.cycloneslider-field{
    padding:15px 10px 20px 10px;
    border-bottom:1px solid #DFDFDF;
}
.cycloneslider-field.last{
    padding-bottom:10px;
    border-bottom:0;
}
.cycloneslider-field label{
    display:block;
    font-weight:bold;
    margin-bottom:5px;
}
.cycloneslider-field input[type="text"],
.cycloneslider-field select{
    display:block;
    min-width:50%;
    margin-bottom:3px;
}
.cycloneslider-field-tile-properties,
.cycloneslider-slide-tile-properties{
	display:none;
}
.cycloneslider-spacer-10{
	height:10px;
}
.cycloneslider-spacer-15{
	height:15px;
}

/*** Nextgen ***/
#cyclone-nextgen-metabox .inside{
	padding:0;
}
.cycloneslider-field label.inline{
	display:inline-block;
	margin:0 0 0 3px;
}
#cyclone-nextgen-metabox select{
	display:inline-block;
	margin:0 0 0 3px;
}


/*** Templates ***/
.template-choices{
	margin:0;
}
.template-choices li{
	position:relative;
	float:left;
	width:200px;
	margin-right:10px;
	margin-bottom:10px;
	border:3px solid #cfcfcf;
	-moz-border-radius:3px; /* Firefox */
	-webkit-border-radius:3px; /* Safari and chrome */
	-khtml-border-radius:3px; /* Linux browsers */
	border-radius:3px; /* CSS3 */
}
.rtl .template-choices li{
	float:right;
	margin-left:10px;
	margin-right:0;
}
.template-choices li:hover,
.template-choices li.active{
	border-color:#21759B;
	background-color:#21759B;
	color:#fff;
}
.template-choices li label,
.template-choices li img{
	display:block;
}
.template-choices li img{
	max-width:100%;
}
.template-choices li label{
	height:125px;
}
.template-choices li .title{
	display:block;
	padding:3px 10px;
	text-align:left;
}
.template-choices li input{
	position:absolute;
	z-index:-1;
}
.template-choices li.active .check{
	display:block;
}
.template-choices .check{
	display:none;
	position:absolute;
	width:15px;
	height:15px;
	z-index:90;
	right:0;
	top:0;
	border:3px solid #21759B ;
	background:#21759B url(../images/uploader-icons.png) no-repeat -21px 0;
	-webkit-border-radius: 0px 0px 0px 5px;
    border-radius: 0px 0px 0px 5px;
}
.template-choices .supported{
	position:absolute;
	z-index:90;
	right:5px;
	bottom:5px;
}
.rtl .template-choices .supported{
	left:5px;
	right:auto;
}
.template-choices .supported span{
	float:right;
	margin:0 3px;
}
.rtl .template-choices .supported span{
	float:left;
}
.template-scroller{
	margin-bottom:5px;
}


/*** Hide admin stuff ***/
.inline-edit-date,
.inline-edit-group{
	display:none;
}

.cycloneslider-get-more{
	padding-top:5px;
	float:right;
}
.rtl .cycloneslider-get-more{
	float:left;
}